# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
print(len(black_friday['Gender'] == 'F'))

537577

In [5]:
#Q1
black_friday.shape

(537577, 12)

In [6]:
#Q2

print(len(black_friday.loc[(black_friday['Gender']=='F') & (black_friday['Age']=='26-35')]))

49348

In [7]:
#Q3
black_friday['User_ID'].nunique()

5891

In [8]:
#Q4
black_friday.dtypes.nunique()

3

In [9]:
black_friday.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [10]:
black_friday.isnull().sum()/black_friday.shape[0]

User_ID                       0.000000
Product_ID                    0.000000
Gender                        0.000000
Age                           0.000000
Occupation                    0.000000
City_Category                 0.000000
Stay_In_Current_City_Years    0.000000
Marital_Status                0.000000
Product_Category_1            0.000000
Product_Category_2            0.310627
Product_Category_3            0.694410
Purchase                      0.000000
dtype: float64

In [11]:
int(black_friday['Product_Category_3'].value_counts().reset_index().iloc[0, [0]])

16

In [12]:
black_friday['Purchase'].mean()

9333.859852635065

In [13]:
df = black_friday['Purchase']
df_norm = (df-df.min())/(df.max()-df.min())
df_norm.mean()

0.38479390362696736

In [14]:
def q8():
    df = black_friday['Purchase']
    df_norm = (df-df.min())/(df.max()-df.min())
    return df_norm.mean()
    pass

In [15]:
df_zscore = black_friday['Purchase']
df_zscore = (df_zscore - df_zscore.mean())/df_zscore.std()
len(df_zscore[(df_zscore > -1) & (df_zscore < 1)])

348631

In [16]:
black_friday['Product_Category_2'].equals(black_friday['Product_Category_3'])

False

In [17]:
float(black_friday[black_friday.isna().any(axis=1) == True].shape[0]/black_friday.shape[0])

0.6944102891306734

In [18]:
black_friday['Product_Category_2'].isnull()
black_friday['Product_Category_2'].equals(black_friday['Product_Category_3'])

False

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [19]:
def q1():
    return black_friday.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [20]:
def q2():
    return len(black_friday.loc[(black_friday['Gender']=='F') & (black_friday['Age']=='26-35')])
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [21]:
def q3():
    return black_friday['User_ID'].nunique()
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [22]:
def q4():
    return black_friday.dtypes.nunique()
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [23]:
def q5():
    return float(black_friday[black_friday.isna().any(axis=1) == True].shape[0]/black_friday.shape[0])
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [24]:
def q6():
    return int(black_friday['Product_Category_3'].isnull().sum())
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [25]:
def q7():
    return int(black_friday['Product_Category_3'].value_counts().reset_index().iloc[0, [0]])
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [26]:
def q8():
    df = black_friday['Purchase']
    df_norm = (df-df.min())/(df.max()-df.min())
    return df_norm.mean()
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [27]:
def q9():
    df_zscore = black_friday['Purchase']
    df_zscore = (df_zscore - df_zscore.mean())/df_zscore.std()
    return len(df_zscore[(df_zscore > -1) & (df_zscore < 1)])
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [28]:
def q10():
    df = black_friday[['Product_Category_2', 'Product_Category_3']]
    df = df[df['Product_Category_2'].isna()]
    return df['Product_Category_2'].equals(df['Product_Category_3'])