<a href="https://colab.research.google.com/github/paulohenriquegf/Codenation_DataScience/blob/master/Solu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/My Drive/Data Science/Estudo   Modelos/Datasets/Codenation/Semana 3/desafio1.csv')

In [3]:
df.head()

   RowNumber  ... membro_ativo
0          1  ...            1
1          2  ...            1
2          3  ...            0
3          4  ...            0
4          5  ...            1

[5 rows x 12 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RowNumber                 7000 non-null   int64
 1   id                        7000 non-null   object
 2   sobrenome                 7000 non-null   object
 3   pontuacao_credito         7000 non-null   int64
 4   estado_residencia         7000 non-null   object
 5   genero                    7000 non-null   object
 6   idade                     7000 non-null   int64
 7   nivel_estabilidade        7000 non-null   int64
 8   saldo_conta               7000 non-null   float64
 9   numero_produtos           7000 non-null   int64
 10  possui_cartao_de_credito  7000 non-null   int64
 11  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

In [60]:
def stats(df):
  return {"moda": df.mode()[0], "mediana": df.median(), "media": df.mean(), "desvio_padrao": df.std()}

In [61]:
grouped = df['pontuacao_credito'].groupby(df['estado_residencia']).apply(stats).unstack()

In [62]:
grouped

                    moda  mediana       media  desvio_padrao
estado_residencia
PR                 850.0    650.0  648.961294      98.607186
RS                 850.0    650.0  651.105143      95.136598
SC                 850.0    653.0  649.537653      97.233493

In [24]:
grouped.to_json('submission.json', orient='index')